<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.ethan.main.ui.activity.ActivitySplash"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ethan.main.ui.activity.ActivityMain"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.ActivityArticleDetail" android:exported="false" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.activity.ActivitySystemTab" android:exported="false" android:windowSoftInputMode="adjustPan"/>
    </application>
</manifest>